@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

:root{
  --light: #92DE34;
  --dark: #69BC22;
  --darker: #488513;
  --text: #025600;
  --para_bg: #ffce89;
  }
.content{
    background-color: #55e6c267;
    backdrop-filter: blur(5px);
    max-width: 40%;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    min-height: 70vh;
    height: auto !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-top: 1rem
}
.input__div{
  width: 95%;
  /* background-color: pink; */
  padding: 1.5rem;
  position: relative;
}
p id{
  font:bolder;
  color: blanchedalmond;
}

body{
  width: 100vw;
  height: 100vh;
  background: url('bg.jpg');
  background-size: 100%;
  transition: background 1s;
}
h1{
  text-align:center;
  margin-bottom: 20px;
  margin-top:20px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.2rem;
  color: #081a31;
  font-size: 1.8rem;
  text-shadow: 2px 5px 10px #123e77, 
              0px 1px 0px #ffffffd8;
}
label {
  font-family: 'Ubuntu', sans-serif;
}
input {
    /* margin-left:20px; */
    width:50%;
    /* text-align: center; */
    padding:0.5rem 1rem;
    border-radius: 5px;
    background-color: beige;
    position: absolute;
    /* top,right,bottom,left; */
    right: 20px;
}

@media only screen and (max-width: 1050px) {
  body {
    background-color: rgb(15, 66, 83);
  }
  .input__div{
    display: flex;
    flex-direction: column;
  }
  input{
   position: relative;
   margin-top: 0.8rem;
   width: 60%;
   transform: translate(50%);
   padding-left: 0.5rem;
  }
  label{
    transform: translate(50%);
  }
  ::placeholder{
    font-size: 0.5rem;
  }
}
::placeholder{
    /* text-align: center;  */
    font-size: 0.8rem;
    font-family: 'Noto Sans', sans-serif;
    
}
footer {
    background-color: #5a0848;
    /* padding: 2rem 0rem; */
    margin-top: 2rem;
    height: 25vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    box-shadow: 0px 10px 5px rgb(175, 173, 173), 0px -10px 5px #ccc;
    color: #ccc;
    width: 100%;
    position: relative;
    bottom: -2px;
  }
  
  footer i {
    color: white;
    font-size: 30px;
    
  }
  .footer-list{
    list-style: none;
    display:flex;
    }
  .footer-content{
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align:center;
    
    
  } 
  button {
    align-items: center;
    /* display: ; */
    cursor: pointer;
    outline:yellow ;
    border: 2px;
    background-color: var(--light);
    width: 8rem;
    padding: 0.8rem 0;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    margin-top:10px;
    margin-left: 1.5rem;
    /* margin-left:80px; */
  }


  button:focus{
    animation: click 2s;
  }
  @keyframes click{
    0%{
      box-shadow: 5px 6px 1px -2px var(--darker),
                  inset 7px 8px 5px -2px var(--darker);
    }
    100%{
      box-shadow: none;
    }
  }
  
   button:hover {
    background-image: linear-gradient(
      145deg,
      transparent 10%,
      var(--dark) 10% 20%,
      transparent 20% 30%,
      var(--dark) 30% 40%,
      transparent 40% 50%,
      var(--dark) 50% 60%,
      transparent 60% 70%,
      var(--dark) 70% 80%,
      transparent 80% 90%,
      var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
  } 
  
  @keyframes background {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400px 0;
    }
  } 
  .links {
    text-decoration: none;
    color: var(--text);
    padding-right:10px;
    

  }
  

  @media screen and (max-width: 700px) {
    .footer-list {
      width: 100%;
      padding-left: 1rem;
    }
  }

p {     
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.1rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }
  #status{
    background-color: var(--para_bg) ;
    border-radius: 2rem;
    padding: 0.5rem 0;
    display: none;
    margin-bottom: 1rem;
  }
  #gif{
    text-align: center;
  }
  